:root {
    --color-text: #fff;
    --color-bg: #000;
    --color-link: #f9d77e;
    --color-link-hover: #fff;
    --color-info: #efc453;
    --glitch-width: 100vw;
    --glitch-height: 100vh;
    --gap-horizontal: 10px;
    --gap-vertical: 5px;
    --time-anim: 4s;
    --time-anim-1: 4.5s;
    --delay-anim: 3.5s;
    --delay-anim-1: 7s;
    --blend-mode-1: none;
    --blend-mode-2: none;
    --blend-mode-3: none;
    --blend-mode-4: none;
    --blend-mode-5: overlay;
    --blend-color-1: transparent;
    --blend-color-2: transparent;
    --blend-color-3: transparent;
    --blend-color-4: transparent;
    --blend-color-5: #af4949;
}

@font-face {
    font-family: "PhelixBoomgartner";
    src: url("../fonts/PhelixBoomgartner.otf") format("opentype")
}

@font-face {
    font-family: "DoctorGlitch";
    src: url("../fonts/Doctor\ Glitch.otf") format("opentype")
}

* {
    transition: all 0.3s ease;
    letter-spacing: 0.125em;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

body {
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 350px;
    background-color: #00040d;
}

/* Preloader Styles */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#preloader div {
    margin: 5px 0;
}

#preloader span.ok {
    color: green;
}

#preloader span.ok:before,
#preloader span.fail:before {
    content: '[';
    margin-right: 10px;
}

#preloader span.ok:after,
#preloader span.fail:after {
    content: ']';
    margin-left: 10px;
}

#main {
    display: block;
}

/* Rest of your existing CSS */
.solved .badge {
    background-color: #17b06b94;
    border: 1px solid #17b06b;
    color: white;
}

.badge {
    border: 1px solid #87c4f2;
}

.solved {
    background-color: #FFFFFF14;
}

.solvers {
    color: #36a2eb;
    font-size: 1rem;
}

.solver_num {
    color: white;
}

.machine .solvers {
    font-size: 1rem!important;
}

.machine_page .solvers {
    font-size: 1.25rem!important;
}

.ip {
    padding-right: 20px;
}

.category_web {
    border-top: 4px solid #ef121b94;
}

.category_reversing {
    border-top: 4px solid #17b06b94;
}

.category_steg {
    border-top: 4px solid #f9751594;
}

.category_pwning {
    border-top: 4px solid #00a09994;
}

.category_machine {
    border-top: 4px solid #0f329894;
}

.category_machine a:hover {
    text-decoration: none;
    color: inherit;
}

.category_misc {
    border-top: 4px solid #ffce5694;
}

.category_crypt {
    border-top: 4px solid #9966FF94;
}

.hackerFont {
    font-family: Hack, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.color_danger {
    color: #ef121b;
}

.color_white {
    color: white;
}

.bold {
    font-weight: bold;
}

h1,
h2 {
    font-family: 'PhelixBoomgartner'!important;
}

button.typewriter {
    max-width: 0%;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: .15em;
    animation: expand 1s steps(140, end), blink-caret .75s step-end infinite;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.typewriter h4 {
    width: 0%;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: .15em;
    animation: typing 0.5s steps(140, end), blink-caret .75s step-end infinite;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

.toggle-yes { border-radius: 6px 0 0 6px !important; }
.toggle-no { border-radius: 0 6px 6px; }

input[type="radio"].toggle { display: none; }
input[type="radio"].toggle:checked + label {
    background-color: #714cdf;
    color: #fff;
}

@keyframes expand {
    0% { max-width: 0%; }
    10% { max-width: 10%; }
    15% { max-width: 0%; }
    20% { max-width: 12%; }
    30% { max-width: 15%; }
    40% { max-width: 25%; }
    50% { max-width: 30%; }
    60% { max-width: 45%; }
    70% { max-width: 65%; }
    80% { max-width: 85%; }
    100% { max-width: 100%; }
}

@keyframes typing {
    0% { width: 0%; }
    10% { width: 10%; }
    15% { width: 0%; }
    20% { width: 0%; }
    30% { width: 15%; }
    40% { width: 25%; }
    45% { width: 15%; }
    50% { width: 30%; }
    60% { width: 45%; }
    70% { width: 65%; }
    80% { width: 85%; }
    100% { width: 100%; }
}

.content__title {
    animation-name: glitch-anim-text;
    animation-duration: var(--time-anim);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: calc(var(--delay-anim) + var(--time-anim) * 0.2);
}

.content__title2 {
    animation-name: glitch-anim-text-2;
    animation-duration: var(--time-anim-1);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: calc(var(--delay-anim) + var(--time-anim) * 0.35);
}

/* Glitch effect and other animations remain unchanged */
.glitch {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.glitch__img {
    position: absolute;
    top: calc(-1 * var(--gap-vertical));
    left: calc(-1 * var(--gap-horizontal));
    width: calc(100% + var(--gap-horizontal) * 2);
    height: calc(100% + var(--gap-vertical) * 2);

    background: url(../images/bg.png);
    transform: translate3d(0, 0, 0);
    background-image: url(../images/bg.png);
    background-blend-mode: var(--blend-mode-1);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(75%);
}
.navbar-nav a {
    transition: all 0.3s ease-in-out;
    position: relative;
}

.navbar-nav a:hover {
    color: #eee6e7 !important; /* Change to a glowing color */
    text-shadow: 0 0 8px #fa0a0a, 0 0 12px #ff073a;
}

.navbar-nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    
}

.navbar-nav a:hover::after {
    transform: scaleX(1);
}

.navbar-nav a:hover {
    color: #eee6e7 !important; /* Change to a glowing color */
    text-shadow: 0 0 8px #fa0a0a, 0 0 12px #ff073a;
}

.navbar-nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    
}

.navbar-nav a:hover::after {
    transform: scaleX(1);
}
 .glitch__img_login {
    background: url(../images/bg--world.png)!important;
} 

/* .glitch__img_404 {
    background: url(../images/404.gif)!important;
    background-repeat: no-repeat!important;
    background-size: contain!important;
    background-position: center!important;
}

.glitch__img_leaderboard {
    position: fixed!important;
    background: url(../images/bg--world.png)!important;
}

.glitch__img_register {
    position: fixed!important;
} */

.glitch__img:nth-child(n+2) {
    opacity: 0;
}

.imgloaded .glitch__img:nth-child(n+2) {
    animation-duration: var(--time-anim);
    animation-delay: var(--delay-anim-1);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.imgloaded .glitch__img:nth-child(2) {
    background-color: var(--blend-color-2);
    background-blend-mode: var(--blend-mode-2);
    animation-name: glitch-anim-1;
}

.imgloaded .glitch__img:nth-child(3) {
    background-color: var(--blend-color-3);
    background-blend-mode: var(--blend-mode-3);
    animation-name: glitch-anim-2;
}

.imgloaded .glitch__img:nth-child(4) {
    background-color: var(--blend-color-4);
    background-blend-mode: var(--blend-mode-4);
    animation-name: glitch-anim-3;
}

.imgloaded .glitch__img:nth-child(5) {
    background-color: var(--blend-color-5);
    background-blend-mode: var(--blend-mode-5);
    animation-name: glitch-anim-flash;
}

/* Keyframes for glitch animations remain unchanged */